/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;

  --Primary-900: #0a196f;
  --Primary-800: #102587;
  --Primary-700: #1a37a7;
  --Primary-600: #264bc8;
  --Primary-500: #3563e9;
  --Primary-400: #658df1;
  --Primary-300: #85a8f8;
  --Primary-200: #aec8fc;
  --Primary-100: #d6e4fd;

  --Secondary-900: #040815;
  --Secondary-800: #080c19;
  --Secondary-700: #0d121f;
  --Secondary-600: #131825;
  --Secondary-500: #1a202c;
  --Secondary-400: #596780;
  --Secondary-300: #90a3bf;
  --Secondary-200: #c3d4e9;
  --Secondary-100: #e0e9f4;

  --input-background-color: #f6f7f9;
}
/* Html */
html {
  font-family: "Plus Jakarta Sans";
  font-size: 62.5%;
  background-color: #f9f9f9;
}

.card {
  border-radius: 10px;
  background: var(--white);
  padding: 2.4rem;
}

/* Input , label , Checkbox  */
.label {
  margin-bottom: 1.6rem;
  color: var(--Secondary-500);
  font-size: 1.6rem;
  font-weight: 600;
}
.input {
  border-radius: 10px;
  background: var(--input-background-color);
  border: 0;
  padding: 1.6rem 3.2rem;
  overflow-y: auto;
  width: 0;
  min-width: 100%;
  margin-top: 1.6rem;
}
input:focus {
  background: var(--Primary-100);
  outline-color: var(--Secondary-300);
}
.input::placeholder {
  color: var(--Secondary-300);
  font-size: 1.4rem;
  font-weight: 300;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.checkbox span {
  color: var(--Secondary-500);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.32px;
  margin-left: 0.8rem;
}

/* car images and background general styles  */

.car__image__bg {
  display: inline-block;
  border-radius: 8px;
  width: 13.2rem;
  padding: 1rem;
  height: 10.8rem;
  background: #3563e9;
  background-image: url(/assests/bg.svg);
}
.car__image {
  max-width: 100%;
  max-height: 100%;
  transform: rotatey(180deg);
}

/* Biling Info , Rental Info , Payment Method and Confirmation  */
.rental-info,
.biling-info,
.payment-method {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
}

.biling-info__header,
.rental-info__header,
.payment-method__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 3.2rem;
}
.biling-info__step,
.rental-info__step,
.payment-method__step {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: self-end;
  color: var(--Secondary-300, #90a3bf);
  font-size: 1.4rem;
  font-weight: 500;
}
.biling-info__explanation,
.rental-info__explanation,
.payment-method__explanation {
  grid-row-start: 2;
  color: var(--Secondary-300, #90a3bf);
  font-size: 1.4rem;
  font-weight: 500;
}

.biling-info__body,
.pick-up__info,
.drop-off__info,
.credit-card__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.biling-info__title,
.rental-info__title,
.payment-method__title {
  color: var(--Secondary-500);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Biling Info  */

.biling-info__body div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Rental Info */

.pick-up__info {
  margin-bottom: 3.2rem;
}

.rental-info select {
  color: var(--Secondary-300);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 200%; /* 28px */
}

/* Payment Method */
.credit-card {
  background-color: var(--input-background-color);
  padding: 2.4rem;
  border-radius: 10px;
}
.credit-card .input {
  background-color: var(--white);
}
.credit-card__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.credit-card__header label {
  align-items: center;
}
.visa-logo{
  display: flex;
  align-items: center;
}
.visa-logo :first-child{
  margin-right:1.2rem ;
}



/* rental Summary */

.rental-summary {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}
.rental-summary__title {
  color: var(--Secondary-500);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.rental-summary__explanation {
  color: var(--Secondary-300);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 2.6rem;
}
.rental-summary__car--details {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
}
.rental-summary__car--details > div {
  margin-left: 1rem;
}
.rental-summary .line {
  margin-bottom: 3.2rem;
}
.rental-summary__car--rate {
  display: flex;
  align-items: center;
}
.rental-summary__car--rate span {
  display: flex;
  margin-right: 0.5rem;
}
.rental-summary__car--rate span svg {
  margin-right: 0.3rem;
}

.rental-summary__car--model {
  color: var(--Secondary-500);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  margin-bottom: 0.6rem;
}
.rental-summary__car--rate p {
  color: #3d5278;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.line {
  background: rgba(195, 212, 233, 0.4);
  height: 1px;
  width: 100%;
}
.subtotal,
.tax {
  display: flex;
  justify-content: space-between;
}
.subtotal {
  margin-bottom: 2.4rem;
}
.tax,
.promo-code {
  margin-bottom: 3.2rem;
}
.subtotal__title,
.tax__title {
  color: var(--Secondary-300);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 120%;
}
.subtotal__price,
.tax__price {
  color: var(--Secondary-500);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 120%;
}
.total-rental-price {
  display: flex;
  justify-content: space-between;
}
.total-rental-price div {
  display: flex;
  flex-direction: column;
}
.promo-code {
  position: relative;
}
.promo-code label {
  position: absolute;
  right: 6%;
  top: 30%;
  cursor: pointer;
  color: var(--Secondary-500);
  font-size: 1.6rem;
  font-weight: 600;
}
.total-rental-price__title {
  color: var(--Secondary-500);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.total-rental-price__explanation {
  color: var(--Secondary-300);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 160%;
}
.total-rental-price__price {
  color: var(--Secondary-500);
  font-size: 3.2rem;
  font-weight: 700;
}

/* Catalogue Card  */

.catalogue {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
}
.catalogue__info {
  display: flex;
  justify-content: space-between;
}
.catalogue__model {
  color: var(--Secondary-500);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.catalogue__type {
  color: var(--Secondary-300);
  font-size: 1.4rem;
  font-weight: 700;
}
.catalogue__information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
}
.catalogue__details {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}
.catalogue__details__part {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 1.6rem;
}
.catalogue__details__part p {
  margin-left: 0.4rem;
  color: var(--Secondary-300);
  font-size: 1.4rem;
  font-weight: 500;
}
.catalogue__details:last-child {
  margin-left: 0;
}
.catalogue__details__part p span {
  margin-right: 0.3rem;
}
.catalogue__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalogue__price__number {
  color: var(--Secondary-500);
  font-size: 2rem;
  font-weight: 700;
}
.catalogue__price__number span {
  color: var(--Secondary-300);
  font-size: 1.4rem;
  font-weight: 700;
}
.catalogue__img {
  position: relative;
  margin-bottom: 2.4rem;
}
.catalogue__img img {
  width: 100%;
}
.fade-img {
  position: absolute;
  width: 100%;
  left: 0;
  height: 50%;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.rent-btn {
  border-radius: 4px;
  background: var(--Primary-500);
  color: var(--white);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 0;
  cursor: pointer;
}

/* Responsive sm size  */

@media screen and (max-width: 640px) {
  /* Card  */
  .card {
    margin: 3.2rem 2.4rem;
  }

  /* input , label , checkbox */
  .input {
    font-size: 1.2rem;
    letter-spacing: -0.24px;
    padding: 1.8rem 2.4rem;
  }
  .input::placeholder {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.24px;
  }
  .label {
    font-size: 1.4rem;
    letter-spacing: -0.28px;
  }

  .checkbox {
    margin-bottom: 2rem;
  }
  /* * Biling Info , Rental Info , Payment Method and Confirmation  */
  .biling-info__header,
  .rental-info__header,
  .payment-method__header {
    margin-bottom: 2.4rem;
  }
  .biling-info__body,
  .pick-up__info,
  .drop-off__info,
  .credit-card__details {
    grid-template-columns: 1fr;
  }
  .biling-info__title,
  .rental-info__title,
  .payment-method__title,
  .rental-summary__title {
    font-size: 1.6rem;
    letter-spacing: -0.32px;
    margin-bottom: 0.5rem;
  }
  .biling-info__explanation,
  .rental-info__explanation,
  .payment-method__explanation {
    font-size: 1.2rem;
    line-height: 160%; /* 19.2px */
    letter-spacing: -0.12px;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .biling-info__step,
  .rental-info__step,
  .payment-method__step {
    grid-row-end: 1;
    justify-self: self-end;
    font-size: 1.2rem;
    letter-spacing: -0.12px;
  }

  /* Biling Info  */

  /* Rental info  */

  .pick-up__info {
    margin-bottom: 2.4rem;
  }
  .rental-info select {
    font-size: 1.2rem;
  }

  /* Rental Summary  */

  .rental-summary__explanation {
    font-size: 1.2rem;
    line-height: 160%; /* 19.2px */
    margin-bottom: 2.4rem;
  }
  .rental-summary__car--model {
    font-size: 2rem;
  }
  .rental-summary__car--rate {
    flex-direction: column;
    align-items: flex-start;
  }
  .rental-summary__car--rate p {
    font-size: 1.2rem;
    letter-spacing: 0.24px;
  }
  .rental-summary__car--rate span {
    margin-bottom: 0.4rem;
  }
  .rental-summary__car--rate span svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .car__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .car__image__bg {
    max-width: 15rem;
    max-height: 9rem;
  }
  .subtotal__title,
  .tax__title {
    font-size: 1.2rem;
  }
  .subtotal {
    margin-bottom: 1.2rem;
  }
  .tax,
  .promo-code {
    margin-bottom: 2.4rem;
  }
  .promo-code .label {
    font-size: 1.2rem;
    top: 35%;
  }
  .total-rental-price__title {
    font-size: 1.6rem;
  }
  .total-rental-price__explanation {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    letter-spacing: -0.12px;
  }
  .total-rental-price__price {
    font-size: 2rem;
  }
  .rental-summary .line {
    margin-bottom: 1.6rem;
  }

  /* Catalogue  */

  .catalogue {
    max-width: 100%;
    padding: 1.6rem;
  }
  .car__stats {
    display: flex;
    align-items: center;
  }
  .car__stats .catalogue__img {
    width: 70%;
  }
  .car__stats .catalogue__details {
    width: 30%;
    flex-direction: column;
    margin-bottom: 2.4rem;
    margin-left: 5rem;
  }
  .catalogue__details__part {
    margin-left: 0;
    margin-bottom: 1.6rem;
    justify-content: flex-start;
  }
  .catalogue__model {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.32px;
  }
  .catalogue__type {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.24px;
  }
  .catalogue__price__number {
    font-size: 1.6rem;
    letter-spacing: -0.16px;
  }
  .catalogue__price__number span {
    font-size: 1.2rem;
    letter-spacing: -0.12px;
  }
  .rent-btn {
    font-size: 1.2rem;
    padding: 1rem 1.6rem;
  }
  .catalogue__details__part p {
    font-size: 1.2rem;
  }
}
